<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Sorry but your comments have been removed from article <%= @article.title %> because it no longer exists!
    </p>
  </body>
</html>
